<footer id="footer">
  <nav>
  	<ul>
  		<li>
        <a href="#">Source Code</a>
  		</li>
  	</ul>
    <p class="design">
      Designed by <a href="http://www.costan.us">Victor Costan</a>
    </p>
  </nav>
</footer>
